{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="large-offset-2 large-8 small-12 columns">
            <h2>Uh-oh!</h2>

            <p>
                We have had some problem subscribing you. Don't worry, we've
                received an email and will look into it and let you know what
                happened.
            </p>

            <p>
                If you want to email us directly, we can be found at
                <a href="mailto:help@durhamgreentogo.com">help@durhamgreentogo.com</a>.
            </p>

            <p>
                <a href="https://durhamgreenbox.wordpress.com/">Go back to the GreenToGo website.</a>
            </p>
        </div>
    </div>
{% endblock %}
