{% extends "base.html" %}

{% block content %}
    <div class="banner">
        <img src="{% static 'testimonial.jpg' %}" alt="GreenToGo being used on a wooden table with a beer">
    </div>

    <div class="row">
        <div class="large-offset-2 large-8 small-12 columns">
            <h2>Buy a GreenToGo membership</h2>
            <p>
                You can buy a GreenToGo membership today! Buying one now helps us get GreenToGo off the ground that much quicker. Your membership
                will not be rebilled until 1 year after the program launches.
            </p>

            <p>Your membership includes the GreenToGo mobile app for your phone and GreenToGo check-out/check-in privileges
                at participating restaurants in Durham!</p>

            <p>Membership fees support the cost of buying the GreenToGo boxes, building a drop-off bin for each restaurant,
                and operating and managing the GreenToGo service in our community. We also want to employ people at a living
                wage, buy carbon-neutral transportation (like cargo bicycles or solar-powered Elf vehicles with trailers)
                to carry the reusable containers to/from the wash facility and restaurants. And finally, we’ll need to pay
                rent for some office space for our team.</p>

            <div>
                <form id="subscription-form" action="{% url 'beta-subscribe' %}" method="POST">
                    <input type="hidden" name="token" id="token" value="">
                    <input type="hidden" name="email" id="email" value="">
                    <label for="plan">Subscription Plan</label>
                    <select id="plan" name="plan">
                        {% for plan in plans %}
                            <option data-amount="{{ plan.amount }}" value="{{ plan.stripe_id }}">{{ plan.name }}: {{plan.display_price}}</option>
                        {% endfor %}
                    </select>
                    <label for="name">Your Name</label>
                    <input id="name" type="text" name="name" placeholder="Your Name">
                    <p class="help-text" id="name-help-text" style="display: none;">You must enter a name.</p>

                    <fieldset>
                        <legend>Gift Subscription</legend>
                        <p class="help-text">
                            GreenToGo subscriptions make great gifts. If you'd like to buy one as a gift, enter
                            your recipient's name and email here. We will send the email with your subscription
                            information to you so as not to spoil the surprise.
                        </p>
                        <label for="gifted_to_name">Recipient's Name</label>
                        <input id="gifted_to_name" type="text" name="gifted_to_name" placeholder="">
                        <label for="gifted_to_email">Recipient's Email</label>
                        <input id="gifted_to_email" type="text" name="gifted_to_email" placeholder="">
                    </fieldset>
                    <button id="subscribe-button" class="button">Subscribe</button>
                </form>
            </div>

            <script>
                var plans = {
                    {% for plan in plans %}
                        '{{ plan.stripe_id }}': {amount: {{ plan.amount }}, name: '{{ plan.name }}'}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                };

                $("#name").on('change', function () {
                    $("#name").removeClass("error");
                });

                var handler = StripeCheckout.configure({
                    key: '{{ stripe_key }}',
                    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                    locale: 'auto',
                    token: function (token) {
                        $("#token").val(token.id);
                        $("#email").val(token.email);
                        $("#subscription-form").submit();
                    }
                });

                $("#subscribe-button").on('click', function (event) {
                    var customerName = $("#name").val();

                    // Validate a name was given.
                    if (!customerName) {
                        $("#name").addClass("error");
                        $("#name-help-text").css({display: "block"}).addClass("error");
                        return false;
                    }

                    $("#subscribe-button").prop("disabled", true);

                    var planId = $("#plan").val();
                    var plan = plans[planId];

                    handler.open({
                        name: "Durham GreenToGo",
                        description: plan.name,
                        zipCode: true,
                        amount: plan.amount,
                        panelLabel: "Subscribe"
                    });
                    event.preventDefault();
                })

                // Close Checkout on page navigation:
                window.addEventListener('popstate', function() {
                    handler.close();
                });
            </script>
        </div>
    </div>
{% endblock %}
