{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="large-offset-2 large-8 small-12 columns">
            <h2>Thanks for subscribing!</h2>

            <p>
                We cannot thank you enough for subscribing and supporting us
                while we are getting GreenToGo off the ground.
            </p>
            <p>
                When the program begins, you will be emailed with
                information about the web and mobile applications and how to
                get started.
            </p>
            <p>
                If you have any problems or questions, please email
                <a href="mailto:help@durhamgreentogo.com">help@durhamgreentogo.com</a>.
            </p>

            <p>
                <a href="https://durhamgreenbox.wordpress.com/">Go back to the GreenToGo website.</a>
            </p>
        </div>
    </div>
{% endblock %}
