Django~=1.10.4
psycopg2
django-compressor
django-extensions
werkzeug
django-environ
pinax-stripe
stripe
rollbar
djoser
django-export-action
djangorestframework
django-registration-redux
django-geocoder
autorepr
shortuuid
qrcode
pillow
reportlab
hashids
django-flat-responsive
django-postgres-stats
django-templated-email
coreapi
