Django~=1.10.4
psycopg2
django-compressor
django-extensions
werkzeug
django-environ
pinax-stripe
stripe
rollbar
djoser
djangorestframework
django-registration-redux
wagtail
wagtailmenus
django-geocoder
autorepr
shortuuid
qrcode
pillow
reportlab
hashids
django-flat-responsive
