/*
brown - #51534E
olive - #6A765F
aqua - #417986
green - #84B062
pale green - #E4E9DC
*/


body,
button,
input,
select,
textarea {
	color: #232323;
	font-family: "Libre Baskerville", georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", georgia, serif;
	font-weight: 700;
	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
}

.site-title {
    font-family: Lato, sans-serif;
}

input.error {
	border: 1px solid red;
	background-color: #FDD;
}

p.error {
	color: red;
}
