{% extends "core/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <h1>
      Inventory Management  
    </h1>
    <ul>
      <li> <a href="/restock/">Restock Restaurants with Clean Containers</a> </li>
      <li> <a href="/empty/">Empty Return Stations</a> </li>
      <li> <a href="/shelve/">Reshelve Clean Containers at GreenToGo HQ</a> </li>
      <li> <a href="/addboxes/">GreenToGo Senior Management Only: add brand new boxes to inventory</a> </li>
    </ul>
  </div>
</div>
{% endblock %}
