{% extends "core/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h2>{{ stock_action|capfirst }} location</h2>
        <form action="." method="POST">
            {% csrf_token %}
            <!-- <p> {{ form.non_field_errors }} </p> -->
            <div class="reportrow">
              {% if stock_action == "restock" %}
              <h5>Select Restaurant for Restocking</h5>
              {% else %}
              <h5>Select a Return Station</h5>
              {% endif %}
              <select id="location_id" name="location" required>
                <option disabled selected value>Select location</option>
                {% for location in locations %}
                <option value="{{ location.id }}">{{ location }}</option>
                {% endfor %}
              </select>
            </div>
            {% if stock_action == "restock" %}
            <div class="reportrow">
              <h5>How many clean boxes WERE ALREADY THERE when you arrived:</h5>
              <div id="sliderActual"></div>
            </div>
            <div>
              <input class="reportinput" name="actual_count" id="sliderActualText">
            </div>
            {% else %}
            <div class="reportrow">
              <h5>How many dirty boxes did you collect from this return station:</h5>
              <div id="sliderActual"></div>
            </div>
            <div>
              <input class="reportinput" name="actual_count" id="sliderActualText">
            </div>
            {% endif %}

            {% if stock_action == "restock" %}
              <div class="reportrow">
                  <h5>What is TOTAL NUMBER of boxes NOW IN THE RESTAURANT after restocking?</h5>
                <div id="sliderStock"></div>
              </div>
              <div>
                <input class="reportinput" name="stock_count" id="sliderStockText">
              </div>

              <div class="reportrow">
                <button type="submit" class="button">Submit</button>
              </div>
            {% else %}
              <input class="reportinput" type="hidden" value="0" name="stock_count" id="sliderStockText">
              <div class="reportrow">
                <button type="submit" class="button">Empty</button>
              </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/stock_view.js' %}"></script>
{% endblock %}
