{# -*- engine:django -*- #}
{% extends "admin/base_site.html" %}

{% load static %}

{% load foundation_extras %}

{% block content_title %}
<h1>GreenToGo Containers, by Location</h1>
{% endblock %}
{% block content %}
<div class="medium-8 columns">
    {% for label in data_json.cycle.count %}
    <h1>{{ label }}</h1>
    {% endfor %}
</div>
<div style="max-width: 960px;">
    <h2>Current Container Status</h2>
    <p>Containers Currently Available at HQ: <span id="hqContainerCount"></span></p>
    <p>Containers Currently Washing: <span id="washingContainerCount"></span></p>
</div>

<h2>Containers at Restaurants</h2>
<input type="button" class="button" id="resetChart" value="Reset Chart" />
<input type="button" class="button" id="needRefill" value="Show Locations that need restock" />
<input type="button" class="button" id="avgUsage" value="Filter by Avg Usage (high to low)" />
<input type="button" class="button" id="countFilter" value="Filter by count (low to high)" />
<p>Tap location twice to put location on checklist</p>
<canvas id="checkoutStockChart" width="500" height="300"></canvas>
<h2>Checklist</h2>
<input type="button" class="button" id="resetChecklist" value="Reset Checklist" />
<input type="button" class="button" id="checkAddRestock" value="Add locations that need restock" />
<p id="hqEstimate"></p>
<div id="checklist">
</div>
<input type="button" class="button" id="getDirections" value="Get Directions" disabled />
<p>Directions could take up to 10 seconds to load and can only calculate 10 locations at once.</p>
{% endblock %}

{% block extrahead %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var colorMap = function (categoryFn, dataArray) {
        return dataArray
            .map(categoryFn)
            .map(function (category) {
                if (category == 1) {
                    return 'rgba(26, 150, 65, 0.5)';
                } else if (category == 2) {
                    return 'rgba(253, 174, 97, 0.5)';
                } else if (category == 3) {
                    return 'rgba(215, 25, 28, 0.5)';
                }
            });
    };
    function sortByKey(array, key) {
        return array.sort(function (a, b) {
            var x = a[key]; var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        });
    }
    var lastClicked = null;
    var originalData = {};
    var checklistData = {
        estimatedHQ: 0,
        list: []
    };
    function clickLocation(location) {
        if (lastClicked && location === lastClicked) {
            var existsInChecklist = checklistData.list.find(function (element) {
                return element.name === location;
            });
            if (!existsInChecklist) {
                var obj = originalData.locations.find(function (element) {
                    return element.name === location;
                });
                checklistData.list.push(obj);
                renderChecklist();
            }
        } else {
            lastClicked = location;
        }
    }
    function highlight(element) {
        Array.from(document.getElementsByClassName('success')).forEach(function (element) { element.classList.remove('success') });
        element.classList.add('success');
    }
    function renderChart(locations) {
        var count = [];
        var names = [];
        locations.forEach(function (location, i) {
            count.push(location.count);
            names.push(location.name);
        });

        var checkoutCanvas = document.getElementById("checkoutStockChart");
        var checkoutChart = new Chart(checkoutCanvas, {
            type: 'horizontalBar',
            data: {
                labels: names,
                datasets: [{
                    label: "# of Boxes",
                    data: count,
                    backgroundColor: colorMap(function (val) {
                        if (val > 30) {
                            return 1
                        } else if (val > 15) {
                            return 2
                        } else {
                            return 3
                        }
                    }, count),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            autoSkip: false,
                            //maxRotation: 90,
                            //minRotation: 90
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        checkoutCanvas.onclick = function (evt) {
            var clickedPlace = checkoutChart.getElementsAtEvent(evt);
            if (clickedPlace && clickedPlace[0] && clickedPlace[0]._model && clickedPlace[0]._model.label) {
                clickLocation(clickedPlace[0]._model.label);
            }
        };
    }
    function renderChecklist() {
        var checklistElement = document.getElementById('checklist');
        checklistElement.innerHTML = '';
        if (checklistData.list.length > 0) {
            document.getElementById("getDirections").disabled = false;
        } else {
            document.getElementById("getDirections").disabled = true;
        }
        var boxesToRestock = checklistData.list.reduce(function (accumulator, location) {
            var newChild = document.createElement("div");
            newChild.innerHTML = `
                <p>${location.name}:<br>Needs ${location.minimum_boxes - location.count} <input type="button" class="button alert tinyx" onClick="removeFromChecklist('${location.name}')" value="X" /></p>
            `;
            checklistElement.appendChild(newChild);
            var restockNum = location.minimum_boxes - location.count;
            if (restockNum < 1) {
                restockNum = 0;
            }
            return accumulator + restockNum;
        }, 0);
        checklistData.hqEstimate = originalData.hq - boxesToRestock
        document.getElementById('hqEstimate').innerHTML = `Estimated boxes at HQ after restock: ${checklistData.hqEstimate}`;
    }
    function removeFromChecklist(name) {
        var newList = checklistData.list.reduce(function (accumulator, location) {
            if (location.name !== name) {
                accumulator.push(location);
            }
            return accumulator;
        }, []);
        checklistData.list = newList;
        renderChecklist();
    }
    $(function () {
        var data = {{ data_json| safe}};
    checklistData.estimatedHQ = data.hq;
    originalData = JSON.parse(JSON.stringify(data));
    document.getElementById("hqContainerCount").textContent = data.hq;
    document.getElementById("washingContainerCount").textContent = data.wash;
    document.getElementById("needRefill").addEventListener("click", function () {
        highlight(this);
        var tempLoc = data.locations.reduce(function (accumulator, location) {
            if (location.minimum_boxes >= location.count) {
                accumulator.push(location);
            }
            return accumulator;
        }, [])
        var tempSort = sortByKey(tempLoc, 'avg_weekly_usage').reverse();
        renderChart(tempSort);
    });
    document.getElementById("avgUsage").addEventListener("click", function () {
        highlight(this);
        var tempSort = sortByKey(data.locations, 'avg_weekly_usage').reverse();
        renderChart(tempSort);
    });
    document.getElementById("countFilter").addEventListener("click", function () {
        highlight(this);
        var tempSort = sortByKey(data.locations, 'count');
        renderChart(tempSort);
    });
    document.getElementById("resetChart").addEventListener("click", function () {
        highlight(this);
        data = originalData;
        renderChart(data.locations);
    });
    document.getElementById("resetChecklist").addEventListener("click", function () {
        checklistData = {
            estimatedHQ: data.hq,
            list: []
        };
        renderChecklist();
    });
    document.getElementById("checkAddRestock").addEventListener("click", function () {
        data.locations.forEach(function (location) {
            if (location.minimum_boxes > location.count) {
                checklistData.list.push(location);
            }
        });
        renderChecklist();
    });
    document.getElementById("getDirections").addEventListener("click", function () {
        var button = this;
        button.disabled = true;
        var locations = checklistData.list.reduce(function (accumulator, location) {
            if (location.address && location.latitude && location.longitude && accumulator.length < 11) {
                accumulator.push({
                    address: location.address,
                    lat: location.latitude,
                    lng: location.longitude,
                });
            }
            return accumulator;
        }, []);
        var body = `locations=${JSON.stringify(locations)}`;
        var config = {
            headers: {
                Authorization: 'Basic anRkdWRlMTAwOkpUMTIzZ2FtZQ==',
            },
        };
        var newTab = window.open();
        axios.post('https://api.routexl.com/tour/', body, config)
            .then(function (response) {
                var uri = 'https://www.google.com/maps/dir';
                for (var location in response.data.route) {
                    var encodedAddress = encodeURIComponent(response.data.route[location].name);
                    uri = `${uri}/${encodedAddress}`;
                }
                button.disabled = false;
                newTab.location.href = uri;
            })
            .catch(function (error) {
                button.disabled = false;
                newTab.close();
                console.log(error);
            });
    });
    renderChart(data.locations);
    renderChecklist();
    });
</script>
<style type="text/css">
    .tinyx {
        padding: 5px 8px !important;
    }

    .button {
        display: inline-block;
        vertical-align: middle;
        font-family: inherit;
        padding: 0.85em 1em;
        -webkit-appearance: none;
        border: 1px solid transparent;
        border-radius: 0;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        background-color: #1779ba;
        color: #fefefe;
    }

    [data-whatinput='mouse'] .button {
        outline: 0;
    }

    .button:hover,
    .button:focus {
        background-color: #14679e;
        color: #fefefe;
    }

    .button.tiny {
        font-size: 0.6rem;
    }

    .button.small {
        font-size: 0.75rem;
    }

    .button.large {
        font-size: 1.25rem;
    }

    .button.expanded {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .button.primary {
        background-color: #1779ba;
        color: #fefefe;
    }

    .button.primary:hover,
    .button.primary:focus {
        background-color: #126195;
        color: #fefefe;
    }

    .button.secondary {
        background-color: #d6d6d6;
        color: #0a0a0a;
    }

    .button.secondary:hover,
    .button.secondary:focus {
        background-color: #ababab;
        color: #0a0a0a;
    }

    .button.success {
        background-color: #3adb76;
        color: #0a0a0a;
    }

    .button.success:hover,
    .button.success:focus {
        background-color: #22bb5b;
        color: #0a0a0a;
    }

    .button.warning {
        background-color: #ffae00;
        color: #0a0a0a;
    }

    .button.warning:hover,
    .button.warning:focus {
        background-color: #cc8b00;
        color: #0a0a0a;
    }

    .button.alert {
        background-color: #cc4b37;
        color: #fefefe;
    }

    .button.alert:hover,
    .button.alert:focus {
        background-color: #a53b2a;
        color: #fefefe;
    }

    .button.disabled,
    .button[disabled] {
        opacity: 0.25;
        cursor: not-allowed;
    }

    .button.disabled,
    .button.disabled:hover,
    .button.disabled:focus,
    .button[disabled],
    .button[disabled]:hover,
    .button[disabled]:focus {
        background-color: #1779ba;
        color: #fefefe;
    }

    .button.disabled.primary,
    .button[disabled].primary {
        opacity: 0.25;
        cursor: not-allowed;
    }

    .button.disabled.primary,
    .button.disabled.primary:hover,
    .button.disabled.primary:focus,
    .button[disabled].primary,
    .button[disabled].primary:hover,
    .button[disabled].primary:focus {
        background-color: #1779ba;
        color: #fefefe;
    }

    .button.disabled.secondary,
    .button[disabled].secondary {
        opacity: 0.25;
        cursor: not-allowed;
    }

    .button.disabled.secondary,
    .button.disabled.secondary:hover,
    .button.disabled.secondary:focus,
    .button[disabled].secondary,
    .button[disabled].secondary:hover,
    .button[disabled].secondary:focus {
        background-color: #d6d6d6;
        color: #0a0a0a;
    }

    .button.disabled.success,
    .button[disabled].success {
        opacity: 0.25;
        cursor: not-allowed;
    }

    .button.disabled.success,
    .button.disabled.success:hover,
    .button.disabled.success:focus,
    .button[disabled].success,
    .button[disabled].success:hover,
    .button[disabled].success:focus {
        background-color: #3adb76;
        color: #0a0a0a;
    }

    .button.disabled.warning,
    .button[disabled].warning {
        opacity: 0.25;
        cursor: not-allowed;
    }

    .button.disabled.warning,
    .button.disabled.warning:hover,
    .button.disabled.warning:focus,
    .button[disabled].warning,
    .button[disabled].warning:hover,
    .button[disabled].warning:focus {
        background-color: #ffae00;
        color: #0a0a0a;
    }

    .button.disabled.alert,
    .button[disabled].alert {
        opacity: 0.25;
        cursor: not-allowed;
    }

    .button.disabled.alert,
    .button.disabled.alert:hover,
    .button.disabled.alert:focus,
    .button[disabled].alert,
    .button[disabled].alert:hover,
    .button[disabled].alert:focus {
        background-color: #cc4b37;
        color: #fefefe;
    }

    .button.hollow {
        border: 1px solid #1779ba;
        color: #1779ba;
    }

    .button.hollow,
    .button.hollow:hover,
    .button.hollow:focus {
        background-color: transparent;
    }

    .button.hollow.disabled,
    .button.hollow.disabled:hover,
    .button.hollow.disabled:focus,
    .button.hollow[disabled],
    .button.hollow[disabled]:hover,
    .button.hollow[disabled]:focus {
        background-color: transparent;
    }

    .button.hollow:hover,
    .button.hollow:focus {
        border-color: #0c3d5d;
        color: #0c3d5d;
    }

    .button.hollow:hover.disabled,
    .button.hollow:hover[disabled],
    .button.hollow:focus.disabled,
    .button.hollow:focus[disabled] {
        border: 1px solid #1779ba;
        color: #1779ba;
    }

    .button.hollow.primary {
        border: 1px solid #1779ba;
        color: #1779ba;
    }

    .button.hollow.primary:hover,
    .button.hollow.primary:focus {
        border-color: #0c3d5d;
        color: #0c3d5d;
    }

    .button.hollow.primary:hover.disabled,
    .button.hollow.primary:hover[disabled],
    .button.hollow.primary:focus.disabled,
    .button.hollow.primary:focus[disabled] {
        border: 1px solid #1779ba;
        color: #1779ba;
    }

    .button.hollow.secondary {
        border: 1px solid #d6d6d6;
        color: #d6d6d6;
    }

    .button.hollow.secondary:hover,
    .button.hollow.secondary:focus {
        border-color: #6b6b6b;
        color: #6b6b6b;
    }

    .button.hollow.secondary:hover.disabled,
    .button.hollow.secondary:hover[disabled],
    .button.hollow.secondary:focus.disabled,
    .button.hollow.secondary:focus[disabled] {
        border: 1px solid #d6d6d6;
        color: #d6d6d6;
    }

    .button.hollow.success {
        border: 1px solid #3adb76;
        color: #3adb76;
    }

    .button.hollow.success:hover,
    .button.hollow.success:focus {
        border-color: #157539;
        color: #157539;
    }

    .button.hollow.success:hover.disabled,
    .button.hollow.success:hover[disabled],
    .button.hollow.success:focus.disabled,
    .button.hollow.success:focus[disabled] {
        border: 1px solid #3adb76;
        color: #3adb76;
    }

    .button.hollow.warning {
        border: 1px solid #ffae00;
        color: #ffae00;
    }

    .button.hollow.warning:hover,
    .button.hollow.warning:focus {
        border-color: #805700;
        color: #805700;
    }

    .button.hollow.warning:hover.disabled,
    .button.hollow.warning:hover[disabled],
    .button.hollow.warning:focus.disabled,
    .button.hollow.warning:focus[disabled] {
        border: 1px solid #ffae00;
        color: #ffae00;
    }

    .button.hollow.alert {
        border: 1px solid #cc4b37;
        color: #cc4b37;
    }

    .button.hollow.alert:hover,
    .button.hollow.alert:focus {
        border-color: #67251a;
        color: #67251a;
    }

    .button.hollow.alert:hover.disabled,
    .button.hollow.alert:hover[disabled],
    .button.hollow.alert:focus.disabled,
    .button.hollow.alert:focus[disabled] {
        border: 1px solid #cc4b37;
        color: #cc4b37;
    }

    .button.clear {
        border: 1px solid #1779ba;
        color: #1779ba;
    }

    .button.clear,
    .button.clear:hover,
    .button.clear:focus {
        background-color: transparent;
    }

    .button.clear.disabled,
    .button.clear.disabled:hover,
    .button.clear.disabled:focus,
    .button.clear[disabled],
    .button.clear[disabled]:hover,
    .button.clear[disabled]:focus {
        background-color: transparent;
    }

    .button.clear:hover,
    .button.clear:focus {
        border-color: #0c3d5d;
        color: #0c3d5d;
    }

    .button.clear:hover.disabled,
    .button.clear:hover[disabled],
    .button.clear:focus.disabled,
    .button.clear:focus[disabled] {
        border: 1px solid #1779ba;
        color: #1779ba;
    }

    .button.clear,
    .button.clear.disabled,
    .button.clear[disabled],
    .button.clear:hover,
    .button.clear:hover.disabled,
    .button.clear:hover[disabled],
    .button.clear:focus,
    .button.clear:focus.disabled,
    .button.clear:focus[disabled] {
        border-color: transparent;
    }

    .button.clear.primary {
        border: 1px solid #1779ba;
        color: #1779ba;
    }

    .button.clear.primary:hover,
    .button.clear.primary:focus {
        border-color: #0c3d5d;
        color: #0c3d5d;
    }

    .button.clear.primary:hover.disabled,
    .button.clear.primary:hover[disabled],
    .button.clear.primary:focus.disabled,
    .button.clear.primary:focus[disabled] {
        border: 1px solid #1779ba;
        color: #1779ba;
    }

    .button.clear.primary,
    .button.clear.primary.disabled,
    .button.clear.primary[disabled],
    .button.clear.primary:hover,
    .button.clear.primary:hover.disabled,
    .button.clear.primary:hover[disabled],
    .button.clear.primary:focus,
    .button.clear.primary:focus.disabled,
    .button.clear.primary:focus[disabled] {
        border-color: transparent;
    }

    .button.clear.secondary {
        border: 1px solid #d6d6d6;
        color: #d6d6d6;
    }

    .button.clear.secondary:hover,
    .button.clear.secondary:focus {
        border-color: #6b6b6b;
        color: #6b6b6b;
    }

    .button.clear.secondary:hover.disabled,
    .button.clear.secondary:hover[disabled],
    .button.clear.secondary:focus.disabled,
    .button.clear.secondary:focus[disabled] {
        border: 1px solid #d6d6d6;
        color: #d6d6d6;
    }

    .button.clear.secondary,
    .button.clear.secondary.disabled,
    .button.clear.secondary[disabled],
    .button.clear.secondary:hover,
    .button.clear.secondary:hover.disabled,
    .button.clear.secondary:hover[disabled],
    .button.clear.secondary:focus,
    .button.clear.secondary:focus.disabled,
    .button.clear.secondary:focus[disabled] {
        border-color: transparent;
    }

    .button.clear.success {
        border: 1px solid #3adb76;
        color: #3adb76;
    }

    .button.clear.success:hover,
    .button.clear.success:focus {
        border-color: #157539;
        color: #157539;
    }

    .button.clear.success:hover.disabled,
    .button.clear.success:hover[disabled],
    .button.clear.success:focus.disabled,
    .button.clear.success:focus[disabled] {
        border: 1px solid #3adb76;
        color: #3adb76;
    }

    .button.clear.success,
    .button.clear.success.disabled,
    .button.clear.success[disabled],
    .button.clear.success:hover,
    .button.clear.success:hover.disabled,
    .button.clear.success:hover[disabled],
    .button.clear.success:focus,
    .button.clear.success:focus.disabled,
    .button.clear.success:focus[disabled] {
        border-color: transparent;
    }

    .button.clear.warning {
        border: 1px solid #ffae00;
        color: #ffae00;
    }

    .button.clear.warning:hover,
    .button.clear.warning:focus {
        border-color: #805700;
        color: #805700;
    }

    .button.clear.warning:hover.disabled,
    .button.clear.warning:hover[disabled],
    .button.clear.warning:focus.disabled,
    .button.clear.warning:focus[disabled] {
        border: 1px solid #ffae00;
        color: #ffae00;
    }

    .button.clear.warning,
    .button.clear.warning.disabled,
    .button.clear.warning[disabled],
    .button.clear.warning:hover,
    .button.clear.warning:hover.disabled,
    .button.clear.warning:hover[disabled],
    .button.clear.warning:focus,
    .button.clear.warning:focus.disabled,
    .button.clear.warning:focus[disabled] {
        border-color: transparent;
    }

    .button.clear.alert {
        border: 1px solid #cc4b37;
        color: #cc4b37;
    }

    .button.clear.alert:hover,
    .button.clear.alert:focus {
        border-color: #67251a;
        color: #67251a;
    }

    .button.clear.alert:hover.disabled,
    .button.clear.alert:hover[disabled],
    .button.clear.alert:focus.disabled,
    .button.clear.alert:focus[disabled] {
        border: 1px solid #cc4b37;
        color: #cc4b37;
    }

    .button.clear.alert,
    .button.clear.alert.disabled,
    .button.clear.alert[disabled],
    .button.clear.alert:hover,
    .button.clear.alert:hover.disabled,
    .button.clear.alert:hover[disabled],
    .button.clear.alert:focus,
    .button.clear.alert:focus.disabled,
    .button.clear.alert:focus[disabled] {
        border-color: transparent;
    }

    .button.dropdown::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 0.4em;
        content: '';
        border-bottom-width: 0;
        border-top-style: solid;
        border-color: #fefefe transparent transparent;
        position: relative;
        top: 0.4em;
        display: inline-block;
        float: right;
        margin-left: 1em;
    }

    .button.dropdown.hollow::after {
        border-top-color: #1779ba;
    }

    .button.dropdown.hollow.primary::after {
        border-top-color: #1779ba;
    }

    .button.dropdown.hollow.secondary::after {
        border-top-color: #d6d6d6;
    }

    .button.dropdown.hollow.success::after {
        border-top-color: #3adb76;
    }

    .button.dropdown.hollow.warning::after {
        border-top-color: #ffae00;
    }

    .button.dropdown.hollow.alert::after {
        border-top-color: #cc4b37;
    }

    .button.arrow-only::after {
        top: -0.1em;
        float: none;
        margin-left: 0;
    }
</style>
{% endblock %}