{# -*- engine:django -*- #}
{% extends "admin/base_site.html" %}

{% load static %}

{% block content_title %}
<h1>GreenToGo Containers, by Location</h1>
{% endblock %}
{% block content %}
<div class="medium-8 columns">
    {% for label in data_json.cycle.count %}
        <h1>{{ label }}</h1>
    {% endfor %}
</div>
<div style="max-width: 960px;">
<h2>Current Container Status</h2>
<p>Total Containers: <span id="totalContainerCount"></span></p>
<canvas id="cycleChart" width="500" height="300"></canvas>
</div>

<h2>Clean Containers at Restaurants</h2>
<canvas id="checkoutStockChart" width="500" height="300"></canvas>

<h2>Dirty Containers in Return Stations</h2>
<canvas id="checkinStockChart" width="500" height="300"></canvas>

<h2>Admin Locations</h2>
<canvas id="adminlocations" width="500" height="300"></canvas>
</div>
{% endblock %}

{% block extrahead %}
<style type="text/css">
</style>
<script src="{% static 'jquery/dist/jquery.js' %}"></script>
<script src="{% static 'chart.js/dist/Chart.bundle.min.js' %}"></script>
<script>
$(function () {
    var data = {{ data_json|safe }};

    var colorMap = function (categoryFn, dataArray) {
        return dataArray
            .map(categoryFn)
            .map(function (category) {
                if (category == 1) {
                    return 'rgba(26, 150, 65, 0.5)';
                } else if (category == 2) {
                    return 'rgba(253, 174, 97, 0.5)';
                } else if (category == 3){
                    return 'rgba(215, 25, 28, 0.5)';
                }
            });
    };

    var totalcountP = document.getElementById("totalContainerCount");
    var count = 0;
    data.cycle.count.forEach(function(number){
        count = count + number;
    });
    totalcountP.textContent = count;

    var checkoutCanvas = document.getElementById("checkoutStockChart");
    var checkoutChart = new Chart(checkoutCanvas, {
        type: 'bar',
        data: {
            labels: data.checkout.names,
            datasets: [{
                label: "# of Boxes",
                data: data.checkout.count,
                backgroundColor: colorMap(function (val) {
                    if (val > 30) {
                        return 1
                    } else if (val > 15) {
                        return 2
                    } else {
                        return 3
                    }
                }, data.checkout.count),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: false
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var checkinCanvas = document.getElementById("checkinStockChart");
    var checkinChart = new Chart(checkinCanvas, {
        type: 'bar',
        data: {
            labels: data.checkin.names,
            datasets: [{
                label: "# of Boxes",
                data: data.checkin.count,
                backgroundColor: colorMap(function (val) {
                    if (val > 30) {
                        return 3
                    } else if (val > 15) {
                        return 2
                    } else {
                        return 1
                    }
                }, data.checkin.count),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: false
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    
    var adminCanvas = document.getElementById("adminlocations");
    var adminChart = new Chart(adminCanvas, {
        type: 'bar',
        data: {
            labels: data.admin.names,
            datasets: [{
                label: "# of Boxes",
                data: data.admin.count,
                backgroundColor: colorMap(function (val) {
                    if (val > 30) {
                        return 3
                    } else if (val > 15) {
                        return 2
                    } else {
                        return 1
                    }
                }, data.admin.count),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: false
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    
    var cycleCanvas = document.getElementById("cycleChart");
    var cycleChart = new Chart(cycleCanvas, {
        type: 'pie',
        data: {
            labels: data.cycle.labels,
            datasets: [{
                label: "# of Boxes",
                data: data.cycle.count,
                borderWidth: 1,
                backgroundColor:['#88df67','#c576e3','#e06528','#ffff00', '#006400']
            }],
        },
        options: {
        }
    });
});
</script>
{% endblock %}
