{# -*- engine:django -*- #}
{% extends "admin/base_site.html" %}

{% load static %}

{% block content_title %}
<h1>User Report</h1>
{% endblock %}

{% block content %}

<div style="max-width: 960px;">
    Number of active subs: {{ numberOfActiveSubs }}
    {% for user in data %}
        <p>{{user}}</p>
    {% endfor %}
    <!-- <canvas id="MonthlyBoxesChart" width="500" height="300"></canvas> -->
</div>

{% endblock %}

{% block extrahead %}
<style type="text/css">
</style>
<script>
$(function () {
    var data = {{ data_json|safe }};
    console.log(data);
/*
    window.data = data;
    var convertToXY = function (data) {
        return data.map(function (d) {
            return {x: d.date, y: d.volume};
        })
    };
    window.convertToXY = convertToXY;

    //Create chart for boxes

    var monthlyBoxesChart = document.getElementById("MonthlyBoxesChart");
    var chart = new Chart(monthlyBoxesChart, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: "Boxes checked in",
                    data: convertToXY(data.checkin),
                    fill: false,
                    backgroundColor: 'rgba(49,130,189, 1)',
                    borderColor: 'rgba(49,130,189, 0.5)',
                    cubicInterpolationMode: 'monotone',
                    spanGaps: true
                },
                {
                    label: "Boxes checked out",
                    data: convertToXY(data.checkout),
                    fill: false,
                    backgroundColor: 'rgba(221,28,119, 1)',
                    borderColor: 'rgba(221,28,119, 0.5)',
                    cubicInterpolationMode: 'monotone',
                    spanGaps: true
                }
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
*/
});
</script>
{% endblock %}
