@charset 'utf-8';

@import 'settings';
@import 'foundation-sites/scss/foundation';
// @import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;


// 1. Base rules

form {
    .error {
        label {
            color: map-get($foundation-palette, "alert");
        }
        input, textarea, select {
            border-color: map-get($foundation-palette, "alert");
        }
        .error-text {
            color: map-get($foundation-palette, "alert");
        }
    }
}

// 2. Layout rules

.top-bar {
    background-color: #628e86;
    color: #fefefe;

    ul {
        background-color: #628e86;
    }

    .active > a {
        background-color: darken(#628e86, 10%);
        color: #fefefe;
    }

    a {
        color: #fefefe;
    }
}

.messages {
    margin-top: 1rem;
}

.page-header {
    margin-bottom: 2rem;
}

.anotherBox{
    display: block;
    max-width: 200px;
    margin: 15px auto;
}

.page-footer {
    border-top: 1px solid gray;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

.active-member {
  background-color: map-get($foundation-palette, "success");
  color: black;
  font-weight: bold;
  padding: 0.25rem 0;
  text-align: center;
}

.env-banner {
    background-color: map-get($foundation-palette, "warning");
    padding: 3px 0;
    text-align: center;
    font-weight: bold;
}

.env-banner--production {
    display: none;
}

// 3. Module rules

// 4. State rules

// 5. Theme rules

// 6. As of yet uncategorized rules

.reportrow{
  margin:1em 0;
}

.reportinput{
  font-size:2em;
}

.check-in-thankyou{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem;
}

.check-in-background{
  max-width: 740px;
  color: white;
  display: inline-block;
  background-color: rgb(72, 148, 133);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

#restaurant-map {
    height: 600px;
    width: "100%";
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

@media (max-width: 40em) {
    .page-header .column {
        padding-left: 0;
        padding-right: 0;
    }
}


.inline-form {
    display: inline-block;
}

.location-confirmation {
    margin-bottom: 1rem;
    text-align: center;
}
