/*
brown - #51534E
olive - #6A765F
aqua - #417986
green - #84B062
pale green - #E4E9DC
*/


body,
button,
input,
select,
textarea {
	color: #232323;
	font-family: "Lato", georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Arvo", georgia, serif;
	font-weight: 700;
	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
}

.site-title {
    font-family: "Lato", sans-serif;
}

input.error {
	border: 1px solid red;
	background-color: #FDD;
}

p.error {
	color: red;
}

div.tosScrollArea{
  margin: 2em 0;
  font-size:0.7em;
  display: block;
  background-color:#eee;
  border: 1px solid #aaa;
  border-radius:4px;
  height:150px;
  overflow-y: scroll;
  padding:1em;
}
