{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p>
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username or email:</label>
                {{ form.username }}
            </p>
            <p>
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
            </p>

            <input type="submit" class="button" value="{% trans 'Log in' %}" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
        <p>Already a member, but need to register? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
    </div>
</div>
{% endblock %}
