{% load i18n %}
{% block plain %}

Hi there! 

We received a request to reset the password for your GreenToGo account.

If you requested a password reset for [username], click the link below.

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}
{% endblock %}

If you did not make this request, you can safely ignore this email. Your account is in no danger if this request was made by mistake. 

If you have any questions or concerns about your account, please feel free to reach out at info@durhamgreentogo.com. 

Kindly, 
The GreenToGo Team

{% endblock %}
