{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
	    Don't Waste Durham/GreenToGo Privacy Policy
<br/><br/>
This Privacy Policy describes how your personal information is collected, used, and shared when you use the GreenToGo App.  
<br/><br/>
PERSONAL INFORMATION WE COLLECT
<br/><br/>
When you use the App, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you use the App, location and time stamp information, and information about how you interact with the App. We refer to this automatically-collected information as “Device Information.”
<br/><br/>
We collect Device Information using the following technologies:
<br/><br/>
    - “Log files” track actions occurring on the App, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.
<br/>
    - “Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the App.
<br/>
    - “Location tags” track actions that occur when you “check in” or “check out” a container, that record a timestamp and the location the “check in” or “check out” occurred. 
    <br/><br/>
Additionally when you make a purchase or attempt to make a purchase through the App, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card and debit card numbers), email address, and phone number.  We refer to this information as “Order Information.”
<br/><br/>
When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device Information and Order Information.
<br/><br/>
HOW DO WE USE YOUR PERSONAL INFORMATION?
<br/><br/>
We use the Order Information that we collect generally to fulfill any orders placed through the App (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations).  Additionally, we use this Order Information to:
Communicate with you; Screen our orders for potential risk or fraud; and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.
<br/><br/>
We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize our App (for example, by generating analytics about how our customers browse and interact with the App, and to assess the success of our marketing and advertising campaigns).
<br/><br/>
SHARING YOUR PERSONAL INFORMATION
<br/><br/>
We share your Personal Information with third parties to help us use your Personal Information, as described above.  For example, we use Stripe for our paid transactions--you can read more about how Stripe uses your Personal Information here:  https://stripe.com/us/privacy/.  We also use Google Analytics to help us understand how our customers use the App--you can read more about how Google uses your Personal Information here:  https://www.google.com/intl/en/policies/privacy/.  You can also opt-out of Google Analytics here:  https://tools.google.com/dlpage/gaoptout.
<br/><br/>
Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.
<br/><br/>
DO NOT TRACK
<br/>
Please note that we do not alter our App’s data collection and use practices when we see a Do Not Track signal from your browser.
<br/><br/>
DATA RETENTION
<br/>
When you place an order through the App, we will maintain your Order Information for our records unless and until you ask us to delete this information.
<br/><br/>
CHANGES<br/>
We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.
<br/><br/>
CONTACT US<br/>
For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at amy@amyeller.com or by mail using the details provided below:
<br/><br/>
  119 Orange St., Suite 303, Durham, NC, 27701, United States

    </div>
</div>
{% endblock %}