{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% load foundation_extras %}

{% block content %}
<div class="row">
    <div class="medium-4 columns">
        <img src="{% static 'registration.jpg' %}" alt="Fill out the form below and verify your email address to become a member" style="width: 400px;"/>
    </div>
    <div class="medium-8 columns">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="required">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Create a Username:</label>
                {{ form.username }}
            </p>
            <p class="required">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email address:</label>
                {{ form.email }}
            </p>
            <p class="required">
                {{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}">Choose a Password:</label>
                {{ form.password1 }}
            </p>
            <p class="required">
                {{ form.password2.errors }}
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                {{ form.password2 }}
            </p>
            <p class="required">
                {{ form.referred_by.errors }}
                <label for="{{ form.referred_by.id_for_label }}">Referral email address</label>
                {{ form.referred_by }}
            </p>

            <p>Please read the following GreenToGo membership terms and liability agreement. Check the box below to indicate your understanding of and agreement to these terms. </p>
            {% include "registration/tos.html" %}

            <p class="required">
                {{ form.tos.errors }}
                {{ form.tos }}
                <label for="{{ form.tos.id_for_label }}">I agree</label>
            </p>


            <input type="submit" value="{% trans 'Submit' %}" />
        </form>
    </div>
</div>
{% endblock %}
