<p>Hi there!</p>

<p>Thank you for subscribing to GreenToGo in our inaugural year of operations! It really does take a village to reduce our environmental impact, and we’re grateful that you’ve been helping us toward this mission! Collectively, we’ve averted 1,500+ containers from the landfill since we launched with just 5 participating restaurants last July! Now with 25 restaurants and nearly 500 subscribers, we expect our impact to grow exponentially in the coming months and years! </p>

<p><strong>This is a reminder that your subscription is expiring soon! We hope that you’ll renew your subscription and continue using GreenToGo to prevent more landfill-bound trash in our community.</strong></p>

<p><strong>To renew, please take the following actions:</strong></p>

<p>1) <a href="https://app.durhamgreentogo.com/subscriptions/">Login</a> to your account</p>
<p>2) Go to “My Subscriptions” </p>
<p>3) If you see the button “Add a Credit Card” this means we do not have payment information on file for you and therefor cannot automatically renew your subscription.  Click that button and follow the instructions to add a credit card to your account.  </p>

<p>As long as you take these steps before {{ expire }} you will have no interruption to your GreenToGo service. If you miss that deadline, not to worry! You can still login to your account, so follow steps 1 & 2 above, and then choose “add a new subscription.” This will reactivate your account and establish auto renew for the future. </p>

<p>We so appreciate your contributions to our program and would love your feedback. <a href="https://goo.gl/forms/IwpZsyDZIkvlSuCa2">THIS SHORT SURVEY</a> will help us gather the information we need to continue to improve our operations in year 2 of GreenToGo. We appreciate you taking just a few minutes to complete it. </p>

<p>
With Gratitude,
The GreenToGo Team
</p>