<div class="tosScrollArea">
<h5>GreenToGo responsibilities</h5>

  <p>
  GreenToGo will provide a reusable takeout container service to its members, including the ability to check out reusable takeout containers from participating establishments, and the ability to check them back into designated return stations around town. GreenToGo will pick up, wash, sanitize, dry, and transport the containers back to the restaurants, eliminating the need for single-use disposables and preventing trash going to landfill.
  </p>


  <h5>Your responsibilities</h5>

  <p>
  As the restaurant customer, you are responsible for proper refrigeration and reheating of your takeout or leftovers. GreenToGo proudly adheres to state health department standards for washing, sanitizing, and safe handling of the reusable containers before they are distributed to the participating restaurants. However, until those containers are returned to GreenToGo custody, it is your responsibility as the consumer to maintain proper food safety procedures with your takeout or leftovers, including prompt refrigeration and safe reheating practices. 
  <a href="https://www.fsis.usda.gov/wps/portal/fsis/topics/food-safety-education/get-answers/food-safety-fact-sheets/safe-food-handling/leftovers-and-food-safety">
    Click here to learn how to maintain food safety. 
  </a>
  </p>
  
  <p>
  Allergens. Although every container is washed and sanitized to state health department standards, it is important to know that this container may have come into contact with common allergy-causing foods including but not limited to milk, egg, shellfish, wheat, gluten, soy, peanuts and or tree nuts.
  </p>
  
  <p>
  Holding GreenToGo harmless. You agree to fully indemnify and hold harmless GreenToGo for any liability arising out of or connected with the services under this agreement.
  </p>
</div>
