---
- become: no
  block:
  - name: Check out code
    local_action: git repo="{{ repo.url }}" dest="{{ git_tmp_dir }}" version={{ repo.branch }} force=true
- name: Push files to server
  synchronize:
    src="{{ git_tmp_dir }}"
    dest="{{ project.srcroot }}"
    delete=yes
    recursive=yes
  notify:
    - Reload systemd
    - Restart uWSGI
- name: Ensure project user owns code
  file: path={{ project.srcroot }} state=directory owner={{ project.user }} recurse=yes
- name: Install npm
  apt: name=npm state=present
- name: Install node-legacy
  apt: name=nodejs-legacy state=present
- name: Install uwsgi
  pip: name=uwsgi executable=pip3
- name: Create uwsgi config
  template: src=uwsgi.ini dest={{ project.root }}/uwsgi.ini
- name: Create uwsgi systemd service
  template: src=uwsgi.service dest=/etc/systemd/system/uwsgi.service
- become_user: "{{ project.user }}"
  block:
  - name: Create envvars script
    template: src=envvars dest={{ project.root }}/envvars
  - name: Install requirements with pip
    pip: >
      requirements="{{ project.srcroot }}requirements.txt"
      virtualenv="{{ project.virtualenv }}"
      virtualenv_python=python3
  - name: Migrate Django database
    django_manage: >
      command="migrate --no-input"
      app_path={{ django.root }}
      settings={{ django.settings }}
      virtualenv={{ project.virtualenv }}
  - name: Collect static files
    django_manage: >
      command=collectstatic
      app_path={{ django.root }}
      settings={{ django.settings }}
      virtualenv={{ project.virtualenv }}
- name: Make sure uwsgi is running
  service: name=uwsgi enabled=yes state=restarted
