{% extends "core/base.html" %}

{% load foundation_extras %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h2>Manage Your Account</h2>
        <h3>Your Login</h3>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="medium-6 columns">
                    {% form_field field=form.name %}
                </div>
                <div class="medium-6 columns">
                    {% form_field field=form.email %}
                </div>
            </div>

            <button type="submit" class="button">Update your information</button>
        </form>
        <ul>
            <li><a href="{% url 'change_password' %}">Change your password</a></li>
            <li><a href="{% url 'change_payment_method' %}">Change your default payment method</a></li>
        </ul>

        <h3>Your Subscriptions</h3>
        {% if owned_subscriptions %}
        {% for sub in owned_subscriptions %}
        <div class="row">
            <div class="medium-6 columns">
                <p class="lead">
                    <a href="{% url 'subscription' sub_id=sub.id %}">
                        {{ sub.name }} @ ${{ sub.price }}
                    </a>
                </p>
                <p>
                    {% if sub.auto_renew %}
                    Renews automatically on {{ sub.ends }}
                    {% else %}
                    Ends on {{ sub.ends }}
                    {% endif %}
                </p>
            </div>

            <div class="medium-6 columns text-right">
                <div class="button-group">
                    <a href="{% url 'subscription_plan' sub_id=sub.id %}"
                       class="small button">Change plan</a>
                    <a href="{% url 'cancel_subscription' sub_id=sub.id %}" class="small alert button">Cancel</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>
            <p class="lead">You do not have any subscriptions currently.</p>
        </div>
        {% endif %}
        <div>
            <a href="{% url 'add_subscription' %}" class="button large">Add a new subscription</a>
        </div>
    </div>
</div>

{% endblock %}
