{% extends "core/base.html" %}
{# -*- engine:django -*- #}


{% block content %}
<div class="row">
    <div class="medium-12 columns">

        <h2>Buy a GreenToGo Subscription</h2>
        
        {% if corporate_code %}
        <p class="callout success">
            Your employer, {{ corporate_code.company_name }}, is a member. You receive a ${{ corporate_code.amount_off }} discount on this GreenToGo subscription.
        </p>
        {% elif coupon_code %}
        <p class="callout success">
            Your coupon has been applied. It's good for
            {% if coupon_code.is_percentage %}
            {{ coupon_code.value }}% 
            {% else %}
            ${{ coupon_code.value }}
            {% endif %}
            off your subscription, {{ coupon_code.duration }}.
        </p>
        {% else %}
        <p>
            Is your employer a GreenToGo member?
            <a href="{% url 'corporate_subscription' %}">
                Click here to enter your corporate access code and get your free membership.
            </a>
        </p>
        <!-- <p>
            Do you have a coupon?
            <a href="{% url 'coupon_subscription' %}">
                Click here to redeem your coupon.
            </a>
        </p> -->
        <p> Do you have a coupon? Redeem it below!</p>
        <form action="." method="POST">
            {% csrf_token %}
            <label for="coupon-code-field">Coupon code</label>
            <input type="text" id="coupon-code-field" name="code" required/>
            <div>
                <input type="submit" id="coupon-button" class="button" name="couponCode" value="Redeem coupon" />
            </div>
        </form>
        {% endif %}
        <h4>Choose the plan that suites your billing preferences!</h4>
        <p>
            <strong>ANNUAL PLANS</strong> auto-renew one year from the date of purchase and save you some money.
            These are our most popular plans! 
        </p>
        <p>
            <strong>MONTHLY PLANS</strong> renew every month, allowing you to test GreenToGo for shorter amounts of time with
            less financial commitment.  You can cancel anytime before your monthly renewal. You can choose
            to cancel and switch to an annual plan any time as well. There is no “contract” beyond one month, 
            but your credit card will be automatically charged monthly unless you cancel the subscription. 
        </p>
        <form action="." method="POST" id="new-subscription-form">
            {% csrf_token %}
            {{ form.token }}
            <label for="{{ form.plan.id_for_label }}">Choose a subscription plan</label>
            <select id="{{ form.plan.id_for_label }}" name="plan" required>
                {% for plan in plans %}
                <option value="{{ plan.stripe_id }}">{{ plan.name }}: {{ plan.display_price }}</option>
                {% endfor %}
            </select>
            <div>
                <input type="submit" id="subscribe-button" class="button" name="addSub" value="Add subscription" />
                <a href="{% url 'subscriptions' %}" class="secondary button">Go back to subscriptions</a>
            </div>
        </form>
        <p>
            <strong>REFUND POLICY</strong> We only offer refunds in special circumstances. If you need to request a refund, email
            info@durhamgreentogo.com with an explanation of why you would like a refund. We do NOT offer pro-rated
            refunds if you cancel before the end of your subscription. Cancelling your subscription will turn off
            auto-renew so that you will not be charged on the renewal date, but your GreenToGo subscription
            will remain active until that expiration date. We appreciate your understanding of this policy. 
        </p>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
    var plans = {{ plandict_json | safe }};

    var handler = StripeCheckout.configure({
        key: '{{ stripe_key }}',
        email: '{{ email }}',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        zipCode: true,
        token: function (token) {
            $("#{{ form.token.id_for_label }}").val(token.id);
            $("#new-subscription-form").submit();
        },
        closed: function () {
            if (!$("#{{ form.token.id_for_label }}").val()) {
                $("#subscribe-button").prop("disabled", false);
            }
        }
    });

    $("#subscribe-button").on('click', function (event) {
        $("#subscribe-button").prop("disabled", true);

        var planId = $("#{{ form.plan.id_for_label }}").val();
        var plan = plans[planId];

        handler.open({
            name: "Durham GreenToGo",
            description: plan.name + " - " + plan.display_price + "/year",
            panelLabel: "Subscribe"
        });
        event.preventDefault();
    })

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
        handler.close();
    });
    </script>
{% endblock %}
