{% extends "core/base.html" %}
{# -*- engine:django -*- #}

{% autoescape on %}
{% block content %}
<div class="row">
    <div class="medium-12 columns">

        <h2>Add a New Subscription</h2>
        
        {% if corporate_code %}
        <p>
            Your employer, {{ corporate_code.company_name }}, is a member. You receive a ${{ corporate_code.amount_off }} discount on this GreenToGo subscription.
        </p>
        {% elif coupon_code %}
        <p>
            Your coupon <strong> </strong> has been applied. It's good for
            {% if coupon_code.is_percentage %}
            {{ coupon_code.value }}% 
            {% else %}
            ${{ coupon_code.value }}
            {% endif %}
            off your subscription, {{ coupon_code.duration }}.
        </p>
        {% else %}
        <p>
            Is your employer a GreenToGo member?
            <a href="{% url 'corporate_subscription' %}">
                Click here to enter your corporate access code and get your free membership.
            </a>
        </p>
        <p>
            Do you have a coupon?
            <a href="{% url 'coupon_subscription' %}">
                Click here to redeem your coupon.
            </a>
        </p>
        {% endif %}

        <form action="." method="POST" id="new-subscription-form">
            {% csrf_token %}
            {{ form.token }}
            <label for="{{ form.plan.id_for_label }}">Choose a subscription plan</label>
            <select id="{{ form.plan.id_for_label }}" name="plan" required>
                {% for plan in plans %}
                <option value="{{ plan.stripe_id }}">{{ plan.name }}: {{ plan.display_price }}</option>
                {% endfor %}
            </select>
            <div>
                <button type="submit" id="subscribe-button" class="button">Add subscription</button>
                <a href="{% url 'subscriptions' %}" class="secondary button">Go back to subscriptions</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
    var plans = {{ plandict_json | safe }};

    var handler = StripeCheckout.configure({
        key: '{{ stripe_key }}',
        email: '{{ email }}',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        zipCode: true,
        token: function (token) {
            $("#{{ form.token.id_for_label }}").val(token.id);
            $("#new-subscription-form").submit();
        },
        closed: function () {
            if (!$("#{{ form.token.id_for_label }}").val()) {
                $("#subscribe-button").prop("disabled", false);
            }
        }
    });

    $("#subscribe-button").on('click', function (event) {
        $("#subscribe-button").prop("disabled", true);

        var planId = $("#{{ form.plan.id_for_label }}").val();
        var plan = plans[planId];

        handler.open({
            name: "Durham GreenToGo",
            description: plan.name + " - " + plan.display_price + "/year",
            panelLabel: "Subscribe"
        });
        event.preventDefault();
    })

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
        handler.close();
    });
    </script>
{% endblock %}
{% endautoescape %}
