{# -*- engine:django -*- #}
{% load static %}
{% load compress %}
{% load menu_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Durham GreenToGo{% endblock %}</title>
        {% compress css %}
        <link rel="stylesheet" type="text/scss" href="{% static 'styles/app.scss' %}">
        <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
        {% endcompress %}
        <link rel='stylesheet' id='resonar-fonts-css' href='https://fonts.googleapis.com/css?family=Libre+Baskerville%3A400%2C700%2C400italic%7CLato%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7CPlayfair+Display%3A400%2C700%2C400italic%2C700italic%7CInconsolata%3A400&#038;subset=latin%2Clatin-ext'
              type='text/css' media='all' />
    </head>

    <body>
        <div class="row page-header">
            <div class="medium-6 columns align-bottom">
                <div class="logo">
                    <a href="/">
                        <img alt="GreenToGo logo" src="{% static 'logo.png' %}"/>
                    </a>
                </div>
            </div>
            <div class="medium-6 columns align-bottom">
                {% main_menu %}
            </div>
        </div>
        {% if messages %}
            <div class="messages row">
                {% for message in messages %}
                    <div class="callout small-12 columns {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
        {% compress js %}
        <script src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
        <script src="{% static 'foundation-sites/dist/js/foundation.js' %}"></script>
        {% endcompress %}
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script>
         $(document).foundation();
        </script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
