{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Durham GreenToGo{% endblock %}</title>
        {% compress css %}
        <link rel="stylesheet" type="text/scss" href="{% static 'styles/app.scss' %}">
        <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
        {% endcompress %}
        <link rel='stylesheet' id='resonar-fonts-css' href='https://fonts.googleapis.com/css?family=Libre+Baskerville%3A400%2C700%2C400italic%7CLato%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7CPlayfair+Display%3A400%2C700%2C400italic%2C700italic%7CInconsolata%3A400&#038;subset=latin%2Clatin-ext'
              type='text/css' media='all' />
    </head>

    <body>
        <div class="row">
            <div class="medium-6 columns">
                Logo
            </div>
            <div class="medium-6 columns">
                <ul class="dropdown menu align-right" data-dropdown-menu>
                    {% if user.is_authenticated %}
                    <li class="is-dropdown-submenu-parent">
                        <a href="#">{{ user }}</a>
                        <ul class="menu">
                            <li><a href="#">My account</a></li>
                            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                    <li><a href="{% url 'registration_register' %}">Create account</a></li>
                    {% endif %}
                    {% block menu %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        {% compress js %}
        <script src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
        <script src="{% static 'foundation-sites/dist/js/foundation.js' %}"></script>
        {% endcompress %}
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script>
          $(document).foundation();
        </script>
    </body>
</html>
