{# -*- engine:django -*- #}
{% load static %}
{% load compress %}
{% load menu_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Durham GreenToGo{% endblock %}</title>
        {% compress css %}
        <link rel="stylesheet" type="text/scss" href="{% static 'styles/app.scss' %}">
        <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
        {% endcompress %}
        <link rel='stylesheet' id='resonar-fonts-css' href='https://fonts.googleapis.com/css?family=Libre+Baskerville%3A400%2C700%2C400italic%7CLato%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7CPlayfair+Display%3A400%2C700%2C400italic%2C700italic%7CInconsolata%3A400&#038;subset=latin%2Clatin-ext'
              type='text/css' media='all' />
    </head>
    <body data-env="{{ DJANGO_ENV }}">
        <div class="row">
            <div class="column">
                <div class="env-banner env-banner--{{ DJANGO_ENV }}">
                    Application environment: {{ DJANGO_ENV }}
                </div>
            </div>
        </div>
        <div class="row page-header">
            <div class="column">
                {% main_menu template="menus/top_menu.html" %}
            </div>
            {% if user.is_authenticated and user.has_active_subscription %}

              <div class="column">
                <div class="active-member">
                  Active Member
                </div>
              </div>
            {% endif %}
        </div>

        {% if messages %}
            <div class="messages row">
                <div class="column">
                {% for message in messages %}
                    <div class="callout {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
        {% block footer %}
        <footer class="row">
            <div class="medium-12 columns page-footer">
                {% flat_menu 'social_media' %}
            </div>
        </footer>
        {% endblock %}

        {% compress js %}
        <script src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
        <script src="{% static 'foundation-sites/dist/js/foundation.js' %}"></script>
        {% endcompress %}
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script>
         $(document).foundation();
        </script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
