{% extends "core/base.html" %}

{% load foundation_extras %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h2>Change Your Password</h2>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="medium-6 columns">
                    {% form_field field=form.new_password1 %}
                </div>
                <div class="medium-6 columns">
                    {% form_field field=form.new_password2 %}
                </div>
            </div>

            <div>
                <button type="submit" class="button">Save new password</button>
                <a href="{% url 'account' %}" class="alert button">Go back to account</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
