<div class="row">
    <div class="medium-12 columns">
        <h2>Your Subscriptions</h2>
        {% with user.get_subscriptions as subscriptions %}
        {% if subscriptions %}
        {% for sub in subscriptions %}
        <div class="row">
            <div class="medium-6 columns">
                <p class="lead">
                    {{ sub.display_name }}
                </p>
                <p>
                    Plan: {{ sub.plan_display }}<br />
                    Number of boxes: {{ sub.available_boxes }} / {{ sub.number_of_boxes }}<br />
                    {% if sub.corporate_code %}
                        Corporate code: {{ sub.corporate_code.code }} - ${{ sub.corporate_code.amount_off }} discount<br />
                    {% endif %}
                    {% if sub.will_auto_renew and sub.ends_at %}
                        Renews automatically on {{ sub.ends_at }}
                    {% elif sub.ends_at %}
                        {% if sub.cancelled and sub.corporate_code %}Corporate - {% elif sub.cancelled %}Cancelled - {% endif %}
                        Ends on {{ sub.ends_at }}
                    {% else %}
                        No end date
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                {% if not sub.cancelled %}
                    {% if sub.has_stripe_subscription %}
                        <a href="{% url 'subscription_plan' sub_id=sub.hashed_id %}" class="button">Change Your Current Subscription</a>
                    {% else %}
                        <a href="{% url 'subscription_add_credit_card' sub_id=sub.hashed_id %}" class="button">
                            Add credit card
                            <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Without a credit card, this subscription cannot be renewed or upgraded.">(why?)</span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>
            <p class="lead">You do not have any subscriptions currently.</p>
            <div class="callout primary">
                If you are a Kickstarter backer and you think you should have a subscription, please check to make sure the email address you used on Kickstarter is the same as the email address you are using for Green To Go. The emails must match for your subscription to be activated. If you are not sure of what email address you used for Kickstarter or have other questions, <a href="https://durhamgreentogo.com/contact/">contact us</a>.
            </div>
        </div>
        {% endif %}
        <div>
            <a href="{% url 'add_subscription' %}" class="button large">Add a NEW subscription</a>
        </div>
        {% endwith %}
    </div>
</div>
