{# -*- engine:django -*- #}
{% extends "core/base.html" %}

{% load foundation_extras %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h2>Your Subscriptions</h2>
        {% if subscriptions %}
        {% for sub in subscriptions %}
        <div class="row">
            <div class="medium-6 columns">
                <p class="lead">
                    {{ sub.display_name }}
                </p>
                <p>
                    Plan: {{ sub.plan_display }}<br />
                    Number of boxes: {{ sub.available_boxes }} / {{ sub.number_of_boxes }}<br />
                    {% if sub.auto_renew %}
                        Renews automatically on {{ sub.ends_on }}
                    {% elif sub.ends_on %}
                        Ends on {{ sub.ends_on }}
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>
            <p class="lead">You do not have any subscriptions currently.</p>
        </div>
        {% endif %}
        <div>
            <!-- <a href="{% url 'add_subscription' %}" class="button large">Add a new subscription</a> -->
        </div>
    </div>
</div>

{% endblock %}
