{% extends "core/base.html" %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h2>Change Subscription Plan</h2>

        <p>
            <strong>Your current plan</strong>: {{ subscription.plan_display }} @ ${{ subscription.total_amount }}
        </p>

        <form action="." method="POST">
            {% csrf_token %}
            <label for="{{ form.plan.id_for_label }}">Change to plan</label>
            {{ form.plan }}
            <div>
                <button type="submit" class="button">Change plan</button>
                <a href="{% url 'account' %}" class="alert button">Go back to account</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
