{% extends "core/base.html" %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h2>Change Subscription Plan</h2>

        <p>
            <strong>Your current plan</strong>: {{ subscription.plan_display }} @ {{ subscription.amount_display }}/year
        </p>

        {% if not subscription.cancelled %}
        <form action="." method="POST">
            {% csrf_token %}
            <label for="{{ form.plan.id_for_label }}">Change to plan</label>
            <select id="{{ form.plan.id_for_label }}" name="plan" required>
                {% for plan in plans %}
                <option value="{{ plan.id }}">{{ plan.name }}: {{ plan.display_price }}</option>
                {% endfor %}
            </select>
            <div>
                <button type="submit" class="button">Change plan</button>
                <a href="{% url 'subscriptions' %}" class="secondary button">Go back to subscriptions</a>
            </div>
            <div>
                <sub> <a href="{% url 'cancel_subscription' sub_id=subscription.hashed_id %}">Cancel subscription</a> </sub>
            </div>
        </form>
        {% else %}
        <p>
            <strong>Your subscription is cancelled and will not automatically renew.</strong>
        </p>

        {% endif %}
    </div>
</div>

{% endblock %}
