{# -*- engine:django -*- #}
{% extends "core/base.html" %}

{% load foundation_extras %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h2>Your Subscriptions</h2>
        {% if subscriptions %}
        {% for sub in subscriptions %}
        <div class="row">
            <div class="medium-6 columns">
                <p class="lead">
                    {{ sub.display_name }}
                </p>
                <p>
                    Plan: {{ sub.plan_display }}<br />
                    Number of boxes: {{ sub.available_boxes }} / {{ sub.number_of_boxes }}<br />
                    {% if sub.will_auto_renew and sub.ends_at %}
                        Renews automatically on {{ sub.ends_at }}
                    {% elif sub.ends_at %}
                        Ends on {{ sub.ends_at }}
                    {% else %}
                        No end date
                    {% endif %}
                </p>
            </div>
            <div class="medium-6 columns">
                {% if sub.has_stripe_subscription %}
                    <a href="{% url 'subscription_plan' sub_id=sub.hashed_id %}" class="button">Change subscription plan</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>
            <p class="lead">You do not have any subscriptions currently.</p>
        </div>
        {% endif %}
        <div>
            <a href="{% url 'add_subscription' %}" class="button large">Add a new subscription</a>
        </div>
    </div>
</div>

{% endblock %}
