{# -*- engine:django -*- #}
{% load static %}

<div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="nav-menu"></button>
    <div class="title-bar-title">GreenToGo</div>
</div>

<div class="top-bar" id="nav-menu">
    <div class="top-bar-left">
        <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu>
            <li class="show-for-medium">
                <a href="/">
                    <img src="{% static 'logo_inverted.png' %}" width="150"/>
                </a>
            </li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'locations' %}">Check out or return boxes</a></li>
                <li><a href="{% url 'subscriptions' %}">My subscriptions</a></li>
                <li><a href="{% url 'account_settings' %}">My settings</a></li>
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a></li>
                <li><a href="{% url 'registration_register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</div>
